// Specific CSS for your home-page
body{
  background-color: white;
}
// SVG ID
#aae1ed4c-b8bc-4bb0-b7ae-eef70b764383 {
  display: inline-flex;
  align-self: center;
  height:30em;
  width:30em;
  position: relative;
}

.svg-home-header{
  left:10%;
}
.main-header {
  height:50vh;
  margin-bottom: 100px;
}

#otter-stars {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
}
// .small-underline{
//   border-bottom: 1px solid grey;
//   margin-bottom: 10px;
// }

// Really Small Devices
#welcome-title{
  font-weight: bold;
}

@media (max-width: 575.98px) {
  #welcome-title{
  color:#CD7272;
  font-size: 40px;
  }

  #welcome-message{
  font-size: 20px;
  }

.svg-home-header{
  display: none;
  }


  .small-underline{
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) and (max-width: 767.98px) {
  #welcome-title{
  color:#CD7272;
  font-size: 80px;
  }
  #welcome-message{
  font-size: 20px;
  }
  .svg-home-header{
  display: none;
  }
  #main-header {
  height: 30%;
  margin-bottom: 100px;
  }
  #underline-and-arrow{
    margin-bottom: 10px;
  }
}

  // Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  #welcome-title{
  color:#CD7272;
  font-size: 80px;
  }
  .svg-home-header{
  display: none;
  }
  #main-header {
  height: 30%;
  margin-bottom: 100px;
  }
  .arrow-next-otter{
    display: none!important;

  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.99px) {
  #welcome-title{
  color:#CD7272;
  font-size: 80px;
  }

  #welcome-message{
  font-size: 30px;
  }

  .svg-home-header{
  display: none;
  }
  #main-header {
  height: 30%;
  margin-bottom: 100px;
  }
   .arrow-next-otter{
    display: none!important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1499.99px) {
  #welcome-title{
  color:#CD7272;
  font-size: 80px;
  }

  #welcome-message{
  font-size: 30px;
  }
  #main-header {
  height: 30%;
  margin-bottom: 100px;
  }
  #aae1ed4c-b8bc-4bb0-b7ae-eef70b764383 {
    top: 0em;
  }
  .arrow-next-otter{
    display: none!important;
  }
}

// Even Extra largerrrrrr devices (large desktops, 1200px and up)
@media (min-width: 1500px) {
  #welcome-title{
  color:#CD7272;
  font-size: 80px;
  }

  #welcome-message{
  font-size: 30px;
  }
  #main-header {
  height: 30%;
  margin-bottom: 100px;
  }
  #aae1ed4c-b8bc-4bb0-b7ae-eef70b764383 {
    top: 5em;
  }
  .arrow-next-otter{
    display: none;
  }
  #arrow-next-star{
    display: none;
  }
}

  #welcome-title{
  text-shadow: 1px 1px 2px grey;
  }

.arrow-next-otter{
  display:inline-block;
  margin: 0 auto;
  font-size: 40px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: bottom;
}

.fa-arrow-alt-circle-down{
  color: #cd7272;
}
