// Specific CSS for your home-page

// SVG ID
#aae1ed4c-b8bc-4bb0-b7ae-eef70b764383 {
  width: 90%;
}

.svg-home-header{
    left:10%;
}
.main-header {
  height:60vh;
}

// Main Text "Welcome"
.main-text-home{
  padding-top: 10%;
}

.small-underline{
  border-bottom: 1px solid black;
}

#welcome-title{
  color:#CD7272;
  font-size: 80px;
}

#welcome-message{
  font-size: 30px;
}

#otter-stars-title{
  margin-top: 10px;
}
