.main-title{
  color:#CD7272;
  font-size: 80px;
  }

#otters-index-title{
  margin-top: 55px;
  margin-bottom: 55px;
  font-size: 55px;
}

// .box {
//   display: flex;
//   flex-flow: row wrap;
// }

// #map {
//   flex: 1 1 auto;
// }


// .cards {
//    flex: 1 1 auto;
// }
